{% extends "base.html" %}
{% block title %}Registrar-se{% endblock %}
{% block header %}

{% endblock %}


{% block content %}

 <div class="container mt-4">
    <!-- Este d-flex coloca o Bloco do Form e o Bloco da Imagem lado a lado -->
    <div class="d-flex align-items-stretch ps-5 gap-2">

        <!-- BLOCO 1: Formulário -->
        <div class="d-inline-grid m-5 pb-5">
            <h1>Cadastrar-se</h1>

            <form method="POST" class="d-inline-flex flex-column gap-3" >
                <div class="w-100">
                    <input type="text" class="form-control" name="first_name" id="first_name" placeholder="Digite seu nome">
                </div>

                <div class="w-100">
                    <input type="text" class="form-control" name="last_name" id="last_name" placeholder="Digite seu sobrenome">
                </div>

                <div class="w-100">
                    <input type="email" class="form-control" name="email" id="email" placeholder="Digite seu e-mail">
                </div>

                <div class="w-100">
                    <input type="password" class="form-control" name="password1" id="password1" placeholder="Crie sua senha">
                </div>

                <div class="w-100">
                    <input type="password" class="form-control" name="password2" id="password2" placeholder="Confirme sua senha">
                </div>

                <button type="submit" class="btn btn-primary w-100">Enviar</button>

                <div class="text-center">
                    <a href="login">Fazer login</a>
                </div>
            </form>
        </div>

        <!-- BLOCO 2: Imagem -->
        <!-- O d-flex aqui com justify-content-center centraliza a imagem na altura do form -->

        <div class=" ms-auto d-flex align-items-center justify-content-center bg-light border rounded p-3">
            <img src="{{ url_for('static', filename='images/logo.png') }}"
                 width="580"
                 height="580"
                 alt="logo"
                 class="img-fluid rounded"
                 style="object-fit: contain;">
        </div>

    </div>
</div>


{% endblock %}