{% extends "base.html" %}
{% block title %}Conectar-se{% endblock %}
{% block header %}
{% endblock %}

{% block content %}
<div class="container mt-4">
<div class="d-flex align-items-stretch gap-2">
    <div class="d-inline-grid m-5" >

        <div class="container ps-5">
            <h1 >Iniciar sessão</h1>
            <br>
            <form method="POST">
            <div class="form-group">
                <label for="email">Usuário</label>
                <input
                    type="email"
                    class="form-control"
                    id="email"
                    name="email"
                    placeholder="exemplo@email.com"
                />
            </div>
            <div class="form-group">
                <label for="password">Senha</label>
                <input
                type="password"
                class="form-control"
                id="password"
                name="password"
                placeholder="Senha"
                >
            </div>

            <div>
                <button type="submit" class="btn btn-primary">Login</button>
            </div>
            <br>

            <div>
                <a href="register">Não tem cadastro? Crie uma conta</a>
            </div>
        </form>
        </div>

    </div>
    <div class=" ms-auto d-flex align-items-center justify-content-center bg-light border rounded p-3">
        <img src="{{ url_for('static', filename='images/logo.png') }}"
             width="580"
             height="580"
             alt="logo"
             class="img-fluid rounded"
             style="object-fit: contain;">
    </div>

</div>
</div>
{% endblock %}
